body {
  margin: 0px;
  padding: 0px;
  background-color: #eee;
}
.main-container {
  display: flex;
}

.left-container{
    display: flex;
    justify-content: center;

}
#imig {
  width: 40vw;
  height: 100vh;
  position: relative;
  object-fit: cover;
}

#company {
  position: absolute;
  
  color: white;
  font-size: calc(2rem + 5vw);
  align-self: center;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    
}

.wording{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
ul{
    list-style: none;
    list-style-type: none;
    padding: 0;
    
}

label{
    display: inline-block;
    
}

.form-container{
    background-color: #fff;

}

#dothis{
    margin-left: 100px;
}
#coolform{
    flex:auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    
}

.below-card{
    padding-top: 3rem;
    margin-left: 100px;
}